@charset "UTF-8";

.sideMenu_div{
	position: fixed;
	display:flex;
	flex-direction: column;
	top: 40%;
	left: 40px;
	background-color: silver;
}

#sideMenu1, #sideMenu2, #sideMenu3{
	display:flex;
	width: 100px;
	height: 40px;
}

.myPage_include{
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
}

/* simpleInfoPage_css */

.simpleInfo_div{
	display: flex;
	flex-direction: row;
	width: 400px;
	height: auto;
	justify-content: center;
}

.img_div{
	display:flex;
	width: 30%;
	justify-content: center;
}
.img_div img{
	width: 70px;
	height: 70px;
	margin-right: 0px;
}

.info_div{
	display:flex;
	align-items: center;
	justify-content: center;
}

/* 회원가입 수정  */
#memberInfo_div{
   display:flex;
   flex-direction : column;
   background-color: gray;
   width: 600px;
   align-items: center;
}

.infoDiv{
   display: flex;
   flex-direction: row;
   width: 100%;
}

.profileImg{
   width: 100px;
   height: 100px;
}

.title{
   display: flex;
}

.content_photo{
   display: flex;
   flex-direction: row;
   justify-content:space-around;
   align-items: center;
}

.content_name, .content_id, .contentPw, .content_email{
 /*   display: flex;
   width: auto; */
}

.commitName{
   display: flex;

}



/* .form_txtInput button {
	border: none;
	width: 20px;
	background-color: white;
} */

#memberInfo_div .infoDiv{
   display: flex;
   width: 600px;
   height: 70px;
   align-items : center;

}
/* 회원가입 수정 끝  */
